/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--- FIN DU RESET CSS ---*/
html, body{
	width: 100%;
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
	background-image: url('../assets/img/bgM.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
}
canvas{
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	position: absolute;
}
#progressBar {
	margin: 20px;
	width: 80%;
	height: 2.8%;
	float: right;
}

.title  {
	font-size: 10vw;
}
.bigTitle{
	font-size: 15vw;
}

#menu{
	height: 100%;
	width: 55%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ccc;
	z-index: 2;
	transition: 0.8s;
	overflow: hidden;
	padding-top: 20px;
}

#menu span{
    padding: 8px 8px 8px 32px;
    display: block;
	transition: 0.3s;
	font-size: 12px;
}

#menu #close {
	position: absolute;
    top: 0;
    right: 25px;
	margin-left: 50px;
	text-decoration: none;
}
#menu #botMenu{
	position: absolute;
	bottom: 30px;
	display: block;
	width: 100%;
	padding: 0;
}

.btnMenu{
	width: 10%;
	top: 1.5%;
	left: 2%;
	position: absolute;
}

#cptPoints div{
	position: absolute; /* postulat de départ */
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
	font-size: 12vh;
	animation: score;
  	animation-duration: 1s;
	text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
				 -30px 30px 0px #00bdbd;

	font-family:Comic Sans MS, Comic Sans, cursive;
	color: #62ef2e;
}

@keyframes score {
    from {opacity: 1;}
    to {opacity: 0;top: 10%;}
}

#end{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0;
	touch-action: none;
	pointer-events: none;
	transition: 1s;
}

#end img{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
}


.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

#retry{
	position: absolute;
  	top: 70%; left: 50%;
	transform: translate(-50%, -50%);
	touch-action: initial;
	pointer-events: initial;
	min-width: 35%;
	min-height: 5%;
	font-size: 3vh;
}

#score_final{
	position: absolute;
  	top: 40%; left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20vw;
	box-shadow: 0 0 90px 50px white;
	border-radius: 25px;
	background-color: white;
	font-family:Comic Sans MS, Comic Sans, cursive;
	color: #62ef2e;
}

.non-visible{
	display: none;
}

#loading{
	touch-action: none;
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1000;
	background-color: black;
	background-image: url('../assets/img/logo_team.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: top center;
	background-size: 100%;
	transition: 800ms;
}

#loading p {
	margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5vh;
	color: white;
}